{% load static %}
<body>
    <link rel="stylesheet" href="{% static 'style_footer.css' %}">
    <div class="container-fluid">
        <div class="text-center">
            <img src="{% static 'assets\bauty_salon_logo.svg' %}" class="small_logo" alt="Now without this image, sorry :(" width="200" height="200">
        </div>
        <div class="near_map">
            <div class="text_right_map">
                <p>Москва,
                   Малый Черкасский переулок дом 2. 2 этаж</p>
                <h4>+7 (495) 721 88 35</h4>
                <h4>+7 (999) 555 97 78</h4>
            <div class="images_footer">  
                <img src="{% static 'assets\images\qr-code-taplink.svg' %}" class="footer_image_qr all">
                <img src="{% static 'assets\images\et-f1fa2b67.webp' %}" class="footer_image_et all"> 
                <img src="{% static 'assets\images\rejting-moskvy-sovetuet-0fea41ae.webp' %}" class="footer_image_rejting all">  
            </div> 
            </div>
            <div class="middle_text_footer">
                <p>Также вы можете забронировать у нас парковочное место дя этого позвоните по телефону, парковка находится рядом с салоном. Также можете написать нам на WhattsApp мы обязательно вам ответим, можем забронировать для вас парковочное место</p>
                <h5 class="h5">Для этого нам нужно ваше: </h5>
                <div class="text_div_footer">
                    <p class="text_p_footer">1. ФИО</p>
                    <p class="text_p_footer">2. Время</p>
                    <p class="text_p_footer">3. Номер машины</p>
                    <p class="text_p_footer">4. Марка машины</p>
                </div>
                <a class="btn btn-primary btn_WhattsApp" href="https://www.whatsapp.com" role="button">Направляйте данные в WhattsApp</a>
                <div class="low_footer">
                    <a href="#" class="a_footer">
                    <img class="icon" src="{% static 'assets\images\free-icon-instagram-3955024.png' %}">
                    </a>                   
                    <a href="#" class="a_footer">
                    <img class="icon" src="{% static 'assets\images\free-icon-whatsapp-2504957.png' %}"> 
                    </a>
                    <a href="#" class="a_footer">
                    <img class="icon" src="{% static 'assets\images\free-icon-vk-2504953.png' %}"> 
                    </a>
                    <a href="#" class="a_footer">
                    <img class="icon" src="{% static 'assets\images\free-icon-viber-2111705.png' %}"> 
                    </a>
                    <p class="p_footer_1">© 2008 — 2023 beauty_lorem</p>
                </div>
                <div class="div_p_footer">
                    <p class="p_footer">ООО «beauty_lorem». Медицинская лицензия № Л041-01137-77/0331049 от 24 апреля 2019 года.</p>
                </div> 
            </div>
            <div class="map-container">
                <h4>Вы можете нас найти тут: </h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.501541186215!2d37.611137466251485!3d55.756075218729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a4e2af4a115%3A0xf69ec4d45b9370b1!2z0KDQvtC80LDQvdC-0LIg0KHQuNC90LXQvNCw!5e0!3m2!1sru!2s!4v1689692533958!5m2!1sru!2s" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-right"></iframe>
            </div>
        </div>
    </div>
</body>